<connectionStrings>
  <add name="iPlusV4_Entities"
 connectionString="metadata=res://*/iPlusV4.csdl|res://*/iPlusV4.ssdl|res://*/iPlusV4.msl;provider=System.Data.SqlClient;provider connection string=&quot;
         data source=.\sqlexpress;
         initial catalog=iPlusMESV4; 
         persist security info=False;
         user id=gip;
         password=netspirit;
         multipleactiveresultsets=True;
         application name=iPlus_db&quot;"
providerName="System.Data.EntityClient" />
  <add name="iPlusMESV4_Entities" connectionString="metadata=.\iPlusMESV4.csdl|.\iPlusMESV4.ssdl|.\iPlusMESV4.msl;provider=System.Data.SqlClient;provider connection string=&quot;
      data source=.\sqlexpress;
      initial catalog=iPlusMESV4;
      persist security info=False;
      user id=gip;
      password=netspirit;
      MultipleActiveResultSets=True;
      App=iPlus_dbApp&quot;"
    providerName="System.Data.EntityClient" />
</connectionStrings>
