<connectionStrings>
  <add name="iPlusV5_Entities"
		 connectionString="Integrated Security=True;
		 Encrypt=False;
		 data source=.\SQLEXP16;
		 initial catalog=IPCDrives2017;
		 Trusted_Connection=False;
		 persist security info=True;
		 user id=gip;
		 password=netspirit;
		 multipleactiveresultsets=True;
		 application name=iPlus"/>
  <add name="iPlusMESV5_Entities"
		 connectionString="Integrated Security=True;
		 Encrypt=False;
		 data source=.\SQLEXP16;
		 initial catalog=IPCDrives2017;
		 Trusted_Connection=False;
		 persist security info=True;
		 user id=gip;
		 password=netspirit;
		 multipleactiveresultsets=True;
		 application name=iPlus"/>
</connectionStrings>