<!--<connectionStrings>
<add name="iPlusV4_Entities"
       connectionString="metadata=res://*/iPlusV4.csdl|res://*/iPlusV4.ssdl|res://*/iPlusV4.msl;provider=System.Data.SqlClient;provider connection string=&quot;
         data source=.\SQLEXP16;
         initial catalog=IPCDrives2017; 
         persist security info=True;
         user id=gip;
         password=netspirit;
         MultipleActiveResultSets=True;
         Asynchronous Processing=True;
         App=iPlus_db&quot;"
    providerName="System.Data.EntityClient" />
  <add name="iPlusMESV4_Entities" connectionString="metadata=.\iPlusMESV4.csdl|.\iPlusMESV4.ssdl|.\iPlusMESV4.msl;provider=System.Data.SqlClient;provider connection string=&quot;
      data source=.\SQLEXP16;
      initial catalog=IPCDrives2017;
      persist security info=True;
      user id=gip;
      password=netspirit;
      MultipleActiveResultSets=True;
      Asynchronous Processing=True;
      App=iPlus_dbApp&quot;"
     providerName="System.Data.EntityClient" />
</connectionStrings>-->

<connectionStrings>
	<add name="iPlusMESV4_Entities" connectionString="Integrated Security=True;Encrypt=False; data source=GIPSOFT-MZ;initial catalog=iPlusMESV5;Trusted_Connection=True;persist security info=True;user id=gip;password=netspirit;multipleactiveresultsets=True;application name=iPlus"/>
</connectionStrings>

<!--<connectionStrings>
<add name="iPlusV4_Entities"
       connectionString="metadata=res://*/iPlusV4.csdl|res://*/iPlusV4.ssdl|res://*/iPlusV4.msl;provider=System.Data.SqlClient;provider connection string=&quot;
         data source=.\SQLEXP12;
         initial catalog=AldiKV4; 
         persist security info=True;
         user id=gip;
         password=netspirit;
         MultipleActiveResultSets=True;
         Asynchronous Processing=True;
         App=iPlus_db&quot;"
    providerName="System.Data.EntityClient" />
<add name="iPlusMESV4_Entities" connectionString="metadata=.\iPlusMESV4.csdl|.\iPlusMESV4.ssdl|.\iPlusMESV4.msl;provider=System.Data.SqlClient;provider connection string=&quot;
      data source=.\SQLEXP12;
      initial catalog=AldiKV4;
      persist security info=True;
      user id=gip;
      password=netspirit;
      MultipleActiveResultSets=True;
      Asynchronous Processing=True;
      App=iPlus_dbApp&quot;"
  providerName="System.Data.EntityClient" />
<add name="CoffeeV4_Entities" connectionString="metadata=res://*/CoffeeV4.csdl|res://*/CoffeeV4.ssdl|res://*/CoffeeV4.msl;provider=System.Data.SqlClient;provider connection string='
      data source=.\SQLEXP12;
      initial catalog=AldiKV4;
      persist security info=True;
      user id=gip;
      password=netspirit;
      MultipleActiveResultSets=True;
      Asynchronous Processing=True;
      App=iPlus_dbApp'"
  providerName="System.Data.EntityClient" />
</connectionStrings>-->