<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="Logging">
            <section name="LoggingConfiguration" type="gip.core.autocomponent.LoggingConfiguration, gip.core.autocomponent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=12adb6357a02d860" allowLocation="true" allowDefinition="Everywhere" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="gip.iplus.client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings configSource="ConnectionStrings.config" />
    <runtime>
        <AppContextSwitchOverrides value="Switch.System.Windows.Controls.Grid.StarDefinitionsCanExceedAvailableSpace=true" />
        <!-- No assembly binding redirects when using NuGet -->
    </runtime>
    <Logging>
        <LoggingConfiguration>
            <LoggingTypes>
                <addLoggingType FileType="DebugLog" MessageType="Default" Source="*" />
            </LoggingTypes>
            <LogFiles>
                <addLogFile FileType="DebugLog" FileName="iPlusClientDebugLog_%Date%" MaxSizeMB="10" />
            </LogFiles>
        </LoggingConfiguration>
    </Logging>
    <userSettings>
        <gip.iplus.client.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0,0,800,600</value>
            </setting>
            <setting name="Zoom" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="WpfTheme" serializeAs="String">
                <value>Gip</value>
            </setting>
            <setting name="TouchScreenMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestoreWindowsOnSameScreen" serializeAs="String">
                <value>False</value>
            </setting>
        </gip.iplus.client.Properties.Settings>
    </userSettings>
</configuration>