<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="Logging">
			<section name="LoggingConfiguration" type="gip.core.autocomponent.LoggingConfiguration, gip.core.autocomponent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=12adb6357a02d860" allowLocation="true" allowDefinition="Everywhere" />
			<section name="PerfLogConfiguration" type="gip.core.datamodel.PerfLogConfiguration, gip.core.datamodel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=12adb6357a02d860" allowLocation="true" allowDefinition="Everywhere" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="gip.mes.client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="Process">
			<section name="ProcessConfiguration" type="gip.mes.processapplication.ProcessConfiguration, gip.mes.processapplication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
			<section name="CoreConfiguration" type="gip.core.autocomponent.CoreConfiguration, gip.core.autocomponent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=12adb6357a02d860" allowLocation="true" allowDefinition="Everywhere" />
		</sectionGroup>
		<sectionGroup name="HelpConfigGroup" type="gip.core.autocomponent.HelpConfigSection gip.core.autocomponent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
			<section name="HelpConfigSection" type="gip.core.autocomponent.HelpConfigSection gip.core.autocomponent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
		</sectionGroup>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="trackingConfiguration" type="gip.mes.datamodel.TrackingConfiguration, gip.mes.datamodel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=12adb6357a02d860" allowLocation="true" allowDefinition="Everywhere" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<connectionStrings configSource="ConnectionStrings.config" />
	<Logging>
		<LoggingConfiguration>
			<LoggingTypes>
				<addLoggingType FileType="DebugLog" MessageType="Default" Source="*" />
			</LoggingTypes>
			<LogFiles>
				<addLogFile FileType="DebugLog" FileName="iPlusClientDebugLog_%Date%" MaxSizeMB="10" />
			</LogFiles>
		</LoggingConfiguration>
		<PerfLogConfiguration Active="true" MaxPerfEntries="20" />
	</Logging>
	<Process>
		<ProcessConfiguration DeactivateProcessConverter="false" />
		<CoreConfiguration DefaultPrecision="6" UseSimpleMonitor="True" />
	</Process>
	<HelpConfigGroup>
		<HelpConfigSection HelpPageRootURL="https://gip-automation.de" SearchRelativeURL="/{lang}/Search/Index/Json" MediaRelativeURL="/{lang}/documentation/Media/Get/Json" LoginRelativeURL="/{lang}/Login/Login/Json" RegisterRelativeURL="/{lang}/Register/Register/Json"></HelpConfigSection>
	</HelpConfigGroup>

</configuration>
