<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="iPlusV4_Entities"
      connectionString="metadata=res://*/iPlusV4.csdl|res://*/iPlusV4.ssdl|res://*/iPlusV4.msl;provider=System.Data.SqlClient;provider connection string=&quot;
    data source=.\sqlexpress;
    initial catalog=AldiMV4Prod; 
    persist security info=True;
    user id=gip;
    password=netspirit;
    MultipleActiveResultSets=True;
    Asynchronous Processing=True;
    App=iPlus_db&quot;"
      providerName="System.Data.EntityClient" />
    <add name="iPlusMESV4_Entities" connectionString="metadata=c:\Aleksandar\gipSoft\Source\iPlusMES\V4\projects\AldiM\bin\Debug\iPlusMESV4.csdl|c:\Aleksandar\gipSoft\Source\iPlusMES\V4\projects\AldiM\bin\Debug\iPlusMESV4.ssdl|c:\Aleksandar\gipSoft\Source\iPlusMES\V4\projects\AldiM\bin\Debug\iPlusMESV4.msl;provider=System.Data.SqlClient;provider connection string=&quot;
    data source=.\sqlexpress;
    initial catalog=AldiMV4Prod;
    persist security info=True;
    user id=gip;
    password=netspirit;
    MultipleActiveResultSets=True;
    Asynchronous Processing=True;
    App=iPlus_dbApp&quot;"
      providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="VarioData" value="C:\VarioData"/>
    <add key="RootFolder" value="C:\Aleksandar\gipSoft\Source\iPlusMES\V4\XAMLEditing\XAMLDesigns\Items"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
